* {
  box-sizing: border-box !important;
}

html,
body,
.root {
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(184, 183, 183);
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
.spinner {
  width: 500px;
}

nav,
footer,
html,
body,
.root,
.loginForm {
  background-color: #4c651c;
}

.navbarContainer {
  width: 80%;
  margin: auto;
}

.linkNavBar:hover {
  color: #cc7a08 !important;
  transform: scale(1.04);
}

nav {
  border-bottom: 5px solid #e4890a !important;
}

.carrelloTable {
  border-bottom: 3px solid #e4890a !important;
}

footer {
  border-top: 5px solid #e4890a;
}

.trCarrello {
  border: 3px solid #cc7a08;
}

.logoImg {
  width: 5.5rem;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cc7a08;
}

.logoHome {
  border: 3px solid #cc7a08;
  width: 80px !important;
}

.productCard {
  border: 4px solid #cc7a08;
  background-color: #ffffffc1 !important;
}

.promos {
  border: 5px solid #cc7a08;
  background-color: #ffffffc1 !important;
}

.navbar-toggler {
  border: 1.5px solid #fff !important;
}

.bi-list {
  width: 2.5rem !important;
}

.homeContainer,
.login {
  background-image: url(../src/assets/img/supermarket.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 90vh;
}

.loginCard {
  background-color: #e5e9ddf1 !important;
}

.loginForm {
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #cc7a08 !important;
}

@media screen and (min-width: 992px) {
  .loginForm {
    padding: 50px;
  }
}

.register,
.homeContainer {
  min-height: 80vh;
}

@media screen and (min-width: 768px) {
  .homeContainer {
    min-height: 90vh;
  }
}

#fastCartImg {
  width: 250px;
}

@media screen and (min-width: 768px) {
  #fastCartImg {
    width: 350px;
  }
}

.productImage {
  background-position: center;
  padding: 10px;
}

.categoryItem {
  background-color: #324117fe;
}

.categoryItem:hover {
  background-color: #567420fe !important;
}

.categoryItem:focus {
  background-color: #de9228e1 !important;
}

#categoryList {
  max-height: 150px;
  overflow-y: auto;
}

#categoryList::-webkit-scrollbar,
#categoryList2::-webkit-scrollbar {
  width: 8px;
  padding: 2px;
}

#categoryList::-webkit-scrollbar-thumb,
#categoryList2::-webkit-scrollbar {
  background-color: #e4890aaf;
  border-radius: 10px;
}

.homeOpacity {
  background-color: #413b32e5;
}

.confetti-wrapper {
  z-index: 10;
  pointer-events: none;
}

.confetti {
  position: absolute;
  top: -10px;
  width: 8px;
  height: 8px;
  opacity: 0.9;
  border-radius: 1px;
}

.card-img-top {
  height: 190px !important;
}

.emptyCart {
  margin: 0 auto !important;
  font-size: 1.9rem !important;
}

@media screen and (min-width: 768px) {
  .emptyCart {
    width: 40% !important;
    margin: 0 auto !important;
    font-size: 2.5rem !important;
  }
}

@media screen and (min-width: 992px) {
  .card-img-top {
    height: 220px !important;
  }
  .emptyCart {
    width: 40% !important;
    margin: 0 auto !important;
    font-size: 2.9rem !important;
  }
  .errorImg {
    width: 60% !important;
  }
}

@media screen and (min-width: 1200px) {
  .card-img-top {
    height: 240px !important;
  }
  .emptyCart {
    width: 40% !important;
    margin: 0 auto !important;
    font-size: 3.5rem !important;
  }
}

.cart-wrapper {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.cart {
  position: absolute;
  left: -100px;
  font-size: 3rem;
  animation: move-cart 2s linear infinite;
}

@keyframes move-cart {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

.speedMarket {
  color: #cc7a08;
}

.carrelloTable {
  background-color: #516b24 !important;
}
.carrelloTableContainer {
  border-radius: 10px !important;
  box-shadow: 5px 5px 15px#fff;
  box-shadow: -5px -5px 15px#fff;
}
.profileLink {
  background-color: #e89623;
  color: #4c651c !important;
}

.profileLinkHover:hover {
  background-color: #263608;
  color: #cc7a08 !important;
}

.sidebar-sticky {
  position: sticky;
  top: 70px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}

.categoryIcon {
  background-color: #62861ecb;
}

.CategoriesContainerSM {
  width: 95%;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  color: #e4890a !important;
}
.flex-1 {
  width: 100% !important;
}
.msgSuccess {
  font-size: 0.8rem;
}
